@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', Arial, sans-serif;
	max-width: 1000px;
	margin: 0 auto;
}

#drop-zone {
	border: 2px dashed #ccc;
	border-radius: 4px;
	color: #aaa;
	font-size: 20px;
	height: 100px;
	margin: 10px;
	position: relative;
	transition: border-color .5s ease-in-out;
}

.centered-text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: color .5s ease-in-out;
}

input[type=file] {
	margin: 10px;
}

.thumb {
	border: 1px solid #000;
	height: 75px;
	margin: 10px 50px 0 0;
}

#byte-content {
	margin: 5px 0;
	max-height: 100px;
	overflow-x: hidden;
	overflow-y: auto;
}

#byte-range {
	margin-top: 5px;
}

button {
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 10px;
}

#progress-bar {
	margin: 10px 0;
	padding: 3px;
	border: 1px solid #000;
	font-size: 14px;
	clear: both;
	opacity: 0;
	transition: opacity 1s linear;
}

#progress-bar.loading {
	opacity: 1;
}

#progress-bar .percent {
	background-color: #9cf;
	height: auto;
	width: 0;
	text-align: right;
}


